body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: #757575;
  color: #212121;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
}
.header {
  padding-bottom: 30px;
  padding-top: 32px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1190px;
  margin: 0 auto;
}
.header-nav-list {
  display: flex;
  gap: 53px;
}
.header-contact {
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.28px;
  display: flex;
  gap: 50px;
}
.header-nav-list li:hover {
  color: #2196f3;
}
.header-contact li:hover {
  color: #2196f3;
}

.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/src/images/hero.jpg);
  background-size: cover;

  height: 600px;
  align-items: center;
  text-align: center;
  display: flex;
}
.main_home_container {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  display: flex;
}
.home_main_text {
  width: 696px;
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  display: flex;
  margin: 0 auto;
}
.home_main_button {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 216px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 35%;
  padding-left: 30px;
  margin-top: 30px;
}
.our-advantages {
  width: 1170px;
  margin: 0 auto;
  padding-top: 94px;
}
.cards-advantages {
  display: flex;
  justify-content: space-between;
}
.card-title {
  color: #212121;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 270px;
  margin-bottom: 10px;
}
.advantages-description {
  color: #757575;
  line-height: 24px;
  letter-spacing: 0.42px;
  width: 270px;
  height: 72px;
}
.svg-advantages {
  width: 70px;
  height: 70px;
}
.img-container {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.svg-advantages {
  fill: #212121;
}
.svg-advantages:hover {
  fill: #2196f3;
}

.activitites {
  padding: 60px 0px;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.activities-title {
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.14;
}
.work-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.work-item {
  position: relative;
  flex-basis: ((100% - 60px)/3);
}
.work-img {
  width: 370px;
  height: 294px;
}
.work-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}
.team {
  background-color: #f5f4fa;
}
.team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px 2rem;
}

.our-team {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.member {
  width: 1fr;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.member-text {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.member-text h4 {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}
.member-text p {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  letter-spacing: 0.48px;
}

.member-media {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.member-media a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out;
}
.member-media a:hover {
  background-color: #2196f3;
}
.member-media a:hover svg {
  fill: #ffffff;
}
.member-media svg {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: fill 0.4s ease-in-out;
}
.clients {
  text-align: center;
}
.clients-list {
  display: flex;
  gap: 30px;
}
.clients-item {
  width: calc((100% - 30px) / 2);
}

.clients-link {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 16px 0;
  border-radius: 4px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 90px;
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid #2196f3;
  color: #188ce8;
}
.clients-icon {
  display: block;
  width: 100%;
  fill: currentColor;
  height: 60px;
}
